<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" type = "text/css" href="/style.css">
  <title>Chitter</title>
</head>
<body>
    <div class="my-title-container">
      <h3 class="my-title">New round here? Sign up!</h3>
      </div>
  <main>
    <form class="chitter-form">
      <label for="name">Name</label>
      <input class="u-full-width" type="text" id="name" name="name">
      <label for="content">Email</label>
      <input class="u-full-width" type="text" id="email" name="email">
      <label for="content">Password</label>
      <input class="u-full-width" type="text" id="password1" name="password1">
      <label for="content">Confirm password</label>
      <input class="u-full-width" type="text" id="password2" name="password2">
      <button class="button-primary">Post</button>
    </form>
  </main> 
</body>
</html>
