<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" type = "text/css" href="/style.css">
  <title>Chitter</title>
</head>
<body>
<div class="container">
    <div><h1 class="my-title"> Test!</h1></div>
</div>
</body>
</html>
