
    <div class="my-title-container">
      <h3 class="my-title">Welcome back!</h3>
      </div>
  <main>
    <div class="errors">
    {{#each errors}}
      {{#each this}}
        <p class="error-message">{{this.msg}}</p>
      {{/each}}
    {{/each}}
    </div>
    <form class="chitter-form" action="/register" method="POST">
      <label for="content">Email</label>
      <input class="u-full-width" type="text" id="email" name="email" value={{email}}>
      <label for="content">Password</label>
      <input class="u-full-width" type="text" id="password" name="password">
      <button class="button-primary">Submit</button>
    </form>
    <div class="my-title-container">
      <p class="need-account">Need an account? Sign up <a href="/register" class="need-account-link">here</a></p>
      </div>
  </main> 

