.my-title {
  display: inline-block;
}

.my-title-container {
  text-align: center;
}

.chitter-form, .loading {
  width: 50%;
  margin: 0 auto;
}

.main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  color: #edf0f1;
}

li, a, button {
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px, 10%;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

.error {
  color: red;
}